<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jéssica Coutinho - Header</title>
  </head>
  <body>
    <header class="cabecalho">
      <section class="nav-logo-btnMenu">
        <img class="logo" src="./assets/imagens/logo.png" />
        <button
          id="menu-mobile"
          aria-label="Abrir Menu"
          aria-controls="nav-bar"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span id="hamburger"></span>
        </button>
      </section>
      <nav id="nav" class="nav-bar">
        <ul class="nav-list" role="menu">
          <li class="nav-item">
            <a class="nav-link" href="#inicio">início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre">sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#livros">livros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicos">serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contato">contato</a>
          </li>
          <li class="nav-item">
            <a class="btn-faleComigo">Fale comigo</a>
          </li>
          <li class="nav-item">
            <button id="ativarTema">
              <img
                class="claro-tema"
                src="./assets/imagens/claro-escuro/sun.png"
                alt="Icone da Lua"
              />
              <img
                class="escuro-tema"
                src="./assets/imagens/claro-escuro/moon.png"
                alt="Icone da Lua"
              />
            </button>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
