* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #402217;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}



/*Cabeçalho*/

header {
    background-color: #F2D091;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-cabecalho {
    max-width: 990px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.menu {
    padding: 20px;
}

.menu-item {
    color: #402217;
    padding: 17px;
    margin: 20px;
}

.active, 
.menu-item:hover {
    background-color: #7A9CFF;
    color: #F2F2F2;
    transition: 0.4s all;
}

/*Index*/

.conteudo-principal {
    margin: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row; 
}

.conteiner-index{
    width: 990px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    line-height: 10px;
}

.titulo-site {
    font-family: 'DynaPuff', cursive;
    color: #402217;
    padding: 40px 40px 0px 40px;
    font-size: 70px;
    font-weight: 200px;
}

.sub-titulo{
    padding: 0px 40px 0px 40px;
    color: #402217;
    font-size: 20px;
}

.avatar{
    height: 500px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 20px;
}

.conteiner-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.titulo-sobre {
    text-indent: 50px;
}

.descricao {
    text-indent: 50px;
    text-align: justify;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.img-sobre {
    width: 100px;
    display: block;
    margin: 0px auto;
}

.conteudo-terceiro div {
    width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.frase-usuario p {
    color: #928d8d;
}


.campo-email {
    width: 500px;
    padding: 10px;
    color: #402217;
    border-color: black;
}


.botao-informacao {
    width: 100px;
    height: 49px;
    padding: 8px;
    background-color: #3F528C;
    color: #fff;
}

/*Rodapé*/

.conteiner-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2D091;
    padding: 10px;
}

/*Responsividade*/

@media (max-width: 1180px) and (min-width: 1024px){
    .conteudo-principal {
        height: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
    } 
}

@media (max-width:999px) and ( min-width: 800px) {
        .conteudo-principal {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            display: flex;
    }
        .img-lizzie{
            margin: 20px auto;
        }
}

    @media (max-width:799px) and ( min-width: 600px) {
        .conteudo-principal {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .img-lizzie{
            margin: 20px auto;
        }
    }

    @media (max-width:599px) and (min-width: 500px) {
        .conteudo-principal {
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
        .menu{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
        }
        .conteudo-secundario {
            width: 45%;
        }
        .frase-usuario p {
            width: 45%;
        }
        .informacao-usuario .form-email-user{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .campo-email {
            width: 450px;
            margin-bottom: 10px;
        }
        .img-lizzie{
            margin: 20px auto;
        }
    }

    @media (max-width:499px) and (min-width: 400px) {
        .conteudo-principal {
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
        .menu{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
        }
        .conteudo-secundario {
            width: 37%;
        }
        .frase-usuario p {
            width: 38%;
        }
        .informacao-usuario .form-email-user{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .campo-email {
            width: 390px;
            margin-bottom: 10px;
        }
        .img-lizzie{
            margin: 20px auto;
        }
    }

    @media (max-width: 399px) and (min-width: 300px) {
        .conteudo-principal {
            flex-direction: column;
            align-items: center;
            height: 100%;
    }
        .menu{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
        }
        .titulo-site {
            font-size: 50px;
        }
        .conteudo-secundario {
            width: 30%;
        }
        .frase-usuario p {
            width: 30%;
        }
        .informacao-usuario .form-email-user{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .campo-email {
            width: 300px;
            margin-bottom: 10px;
        }
        .img-lizzie{
            margin: 20px auto;
        }
}