* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #402217;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}


/*Cabeçalho*/

header {
    background-color: #F2D091;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-cabecalho {
    width: 990px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    padding: 10px;
}

.menu-item {
    color: #402217;
    padding: 20px;
}

.active, 
.menu-item:hover {
    background-color: #7A9CFF;
    color: #F2F2F2;
    letter-spacing: normal;
}

/*Index*/

.conteudo-principal {
    margin: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}
.conteiner-index{
    width: 990px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo-site {
    font-family: 'DynaPuff', cursive;
    color: #402217;
    padding: 40px 40px 0px 40px;
    font-size: 70px;
}

.sub-titulo{
    padding: 0px 40px 0px 40px;
    color: #402217;
    font-size: 20px;
}

.avatar{
    position: absolute;
    width: 300px;
    right: 170px;
    top: 130px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.conteiner-sobre {
    justify-content: center;
    width: 755px;
}

.titulo-sobre {
    text-indent: 50px;
}

.descricao {
    text-indent: 50px;
    text-align: justify;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.img-sobre {
    width: 100px;
    display: block;
    margin: 0px auto;
}

.conteudo-terceiro {
    width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.conteudo-terceiro p {
    color: #928d8d;
}

.campo-email {
    width: 500px;
    padding: 10px;
    color: #402217;
}


.botao-informacao {
    width: 100px;
    height: 49px;
    padding: 8px;
    background-color: #3F528C;
    color: #fff;
}

/*Rodapé*/

.conteiner-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2D091;
    padding: 10px;
}

@media (max-width: 1024px)  {
    header {
        width: auto;
    }
    .conteiner-cabecalho {
        width: auto;
    }
    .conteiner-index{
        width: auto;
    }
    .conteudo-principal {
        margin: 40px;
    }
    .conteiner-sobre {
        justify-content: center;
        width: 800px;
    }
    .avatar{
        position: static;
    }
    .conteudo-terceiro {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .campo-email {
        width: 600px;
    }
}

@media (max-width: 812px) and (min-width: 667px) {

    header {
        width: auto;
    }
    .conteiner-cabecalho {
        width: auto;
    }
    .conteudo-principal {
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .conteiner-index{
        width: auto;
    }
    .conteiner-sobre{
        justify-content: center;
        align-items: center;
        background-color: #7A9CFF;
        width: 700px;
    }
    .descricao {
        align-items: center;
    }
    .conteudo-terceiro {
        width: auto;
        margin: 50px;
        height:1000px;
        justify-content: center;
    }
    .campo-email {
        width: 500px;
        margin-bottom: 15px;
    }
    footer {
        width: auto;
    }
}

@media (max-width: 600px) and (min-width: 568px) {

    .titulo-site {
        font-size: 55px;
    }
    .descricao {
        width: 455px;
    }
    .conteiner-cabecalho {
        width: auto;
    }
    .conteudo-principal{
        height: auto;
    }
    .conteiner-index{
        width: auto;
    }
    .img-sobre {
        margin: 5px 150px;
    }
    .conteudo-terceiro {
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .informacao-usuario {
        display: flex;
        flex-direction: column;
    }
    .campo-email {
        width: 500px;
        margin-bottom: 20px;
    }
  
}

@media (max-width: 414px) {

    header {
        height: auto;
        text-align: center;
    }
    .conteiner-cabecalho nav {
        display: flex;
        flex-direction: column;
    }
    .titulo-site {
        font-size: 40px;
    }
    .conteiner-cabecalho {
        width: 100%;
    }
    .conteudo-principal{
        height: auto;
    }
    .conteiner-index{
        width: auto;
    }
    .descricao {
        width: 300px;
    }
    .img-sobre {
        margin: 0px 50px;
    }
    .informacao-usuario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .campo-email {
        width: 250px;
        margin-bottom: 10px;
    }
    .conteiner-rodape h6 {
        font-size: 14px;
    }
  
}

@media (max-width: 375px) {

    .descricao {
        width: 250px;
    }
}

@media (max-width: 320px) {
    header{
        width: auto;
    }
    .descricao {
        width: 200px;
    }
    .conteudo-terceiro {
        width: auto;
    }
    .informacao-usuario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .campo-email {
        width: 250px;
        margin-bottom: 10px;
    }
    footer {
        width: auto;
    }
    .conteiner-rodape h6 {
        font-size: 12px;
    }
  

}